<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">



    <!--Tire-->
    <material name="tire_material"><color rgba="0.301961 0.301961 0.301961 1"/></material>
    <material name="tire_2_material"><color rgba="0.301961 0.301961 0.301961 1"/></material>
    <material name="tire_3_material"><color rgba="0.301961 0.301961 0.301961 1"/></material>
    <material name="tire_4_material"><color rgba="0.301961 0.301961 0.301961 1"/></material>

    <!--Rim-->
    <material name="rim_material"><color rgba="0.647059 0.647059 0.647059 1"/></material>
    <material name="rim_2_material"><color rgba="0.647059 0.647059 0.647059 1"/></material>
    <material name="rim_3_material"><color rgba="0.647059 0.647059 0.647059 1"/></material>
    <material name="rim_4_material"><color rgba="0.647059 0.647059 0.647059 1"/></material>


</robot>
