bt_navigator:
  ros__parameters:
    use_sim_time: True
    global_frame: odom
    robot_base_frame: base_link
    odom_topic: /odometry/filtered
    bt_loop_duration: 300
    default_server_timeout: 20
    wait_for_service_timeout: 1000

    # =============== Dynamic Object Following (Caregiver Following) =========================
    default_nav_to_pose_bt_xml: $(find-pkg-share navigation)/bt/caregiver_following_bt.xml
    always_reload_bt_xml: true
    goal_updater_topic: "/caregiver_pos"
    # =========================================================================================

    enable_groot_monitoring: true
    groot_zmq_publisher_port: 1666
    groot_zmq_server_port: 1667
    plugin_lib_names:
      - nav2_compute_path_to_pose_action_bt_node
      - nav2_compute_path_through_poses_action_bt_node
      - nav2_smooth_path_action_bt_node
      - nav2_follow_path_action_bt_node
      - nav2_spin_action_bt_node
      - nav2_wait_action_bt_node
      - nav2_assisted_teleop_action_bt_node
      - nav2_back_up_action_bt_node
      - nav2_drive_on_heading_bt_node
      - nav2_clear_costmap_service_bt_node
      - nav2_is_stuck_condition_bt_node
      - nav2_goal_reached_condition_bt_node
      - nav2_goal_updated_condition_bt_node
      - nav2_globally_updated_goal_condition_bt_node
      - nav2_is_path_valid_condition_bt_node
      - nav2_initial_pose_received_condition_bt_node
      - nav2_reinitialize_global_localization_service_bt_node
      - nav2_rate_controller_bt_node
      - nav2_distance_controller_bt_node
      - nav2_speed_controller_bt_node
      - nav2_truncate_path_action_bt_node
      - nav2_truncate_path_local_action_bt_node
      - nav2_goal_updater_node_bt_node
      - nav2_recovery_node_bt_node
      - nav2_pipeline_sequence_bt_node
      - nav2_round_robin_node_bt_node
      - nav2_transform_available_condition_bt_node
      - nav2_time_expired_condition_bt_node
      - nav2_path_expiring_timer_condition
      - nav2_distance_traveled_condition_bt_node
      - nav2_single_trigger_bt_node
      - nav2_goal_updated_controller_bt_node
      - nav2_is_battery_low_condition_bt_node
      - nav2_navigate_through_poses_action_bt_node
      - nav2_navigate_to_pose_action_bt_node
      - nav2_remove_passed_goals_action_bt_node
      - nav2_planner_selector_bt_node
      - nav2_controller_selector_bt_node
      - nav2_goal_checker_selector_bt_node
      - nav2_controller_cancel_bt_node
      - nav2_path_longer_on_approach_bt_node
      - nav2_wait_cancel_bt_node
      - nav2_spin_cancel_bt_node
      - nav2_back_up_cancel_bt_node
      - nav2_assisted_teleop_cancel_bt_node
      - nav2_drive_on_heading_cancel_bt_node
      - nav2_is_battery_charging_condition_bt_node

bt_navigator_navigate_through_poses_rclcpp_node:
  ros__parameters:
    use_sim_time: True

bt_navigator_navigate_to_pose_rclcpp_node:
  ros__parameters:
    use_sim_time: True

controller_server:
  ros__parameters:
    use_sim_time: True
    controller_frequency: 30.0
    min_x_velocity_threshold: 0.001
    min_y_velocity_threshold: 0.0
    min_theta_velocity_threshold: 0.001
    failure_tolerance: 2.0
    progress_checker_plugin: "progress_checker"
    goal_checker_plugins: ["general_goal_checker"] 
    controller_plugins: ["FollowPath"]

    # Progress checker parameters
    progress_checker:
      plugin: "nav2_controller::SimpleProgressChecker"
      required_movement_radius: 0.08
      movement_time_allowance: 2.0

    general_goal_checker:
      stateful: False
      plugin: "nav2_controller::SimpleGoalChecker"
      xy_goal_tolerance: 0.45
      yaw_goal_tolerance: 0.45

    # FollowPath (MPPI)
    FollowPath:
      plugin: "nav2_mppi_controller::MPPIController" 

      time_steps: 35
      model_dt: 0.0333333333
      batch_size: 800
      iteration_count: 1

      motion_model: "DiffDrive"

      vx_max: 1.5
      vx_min: 0.0
      vy_max: 0.0
      wz_max: 1.0

      vx_std: 0.35
      vy_std: 0.7
      wz_std: 0.7

      temperature: 0.35
      gamma: 0.015
      visualize: false
      transform_tolerance: 0.2
      prune_distance: 1.5
      max_robot_pose_search_dist: 1.0

      critics: [
        "ConstraintCritic",
        "ObstaclesCritic",
        "GoalCritic",
        "GoalAngleCritic",
        "PathAlignCritic",
        "PathFollowCritic",
        "PathAngleCritic",
        "PreferForwardCritic"
      ]

      ConstraintCritic:
        enabled: true
        cost_power: 1
        cost_weight: 4.0

      GoalCritic:
        enabled: true
        cost_power: 1
        cost_weight: 5.0
        threshold_to_consider: 1.0

      GoalAngleCritic:
        enabled: true
        cost_power: 1
        cost_weight: 3.0
        threshold_to_consider: 0.4

      PreferForwardCritic:
        enabled: true
        cost_power: 1
        cost_weight: 6.0
        threshold_to_consider: 0.4

      ObstaclesCritic:
        enabled: true
        cost_power: 1
        consider_footprint: true
        repulsion_weight: 3.0
        critical_weight: 25.0
        collision_cost: 10000.0
        collision_margin_distance: 0.5
        near_goal_distance: 0.6

      PathAlignCritic:
        enabled: true
        cost_power: 1
        cost_weight: 5.0
        offset_from_furthest: 5
        threshold_to_consider: 0.6

      PathAngleCritic:
        enabled: true
        cost_power: 1
        cost_weight: 2.0
        offset_from_furthest: 4
        threshold_to_consider: 0.40
        max_angle_to_furthest: 1.0                                          

local_costmap:
  local_costmap:
    ros__parameters:
      update_frequency: 15.0
      publish_frequency: 5.0
      global_frame: odom
      robot_base_frame: base_link
      use_sim_time: True
      rolling_window: true
      width: 6
      height: 6
      resolution: 0.05
      footprint: "[ [0.45, 0.30], [0.45, -0.30], [-0.45, -0.30], [-0.45, 0.30]]"
      footprint_padding: 0.01
      footprint_clearing_enabled: True
      plugins: ["obstacle_layer", "denoise_layer", "inflation_layer"]

      denoise_layer:
        plugin: "nav2_costmap_2d::DenoiseLayer"
        enabled: true
        group_connectivity_type: 8
        minimal_group_size: 2   

      obstacle_layer:
        plugin: "nav2_costmap_2d::ObstacleLayer"
        observation_sources: scan
        scan:
          topic: /scan
          data_type: LaserScan
          marking: True
          clearing: True
          obstacle_range: 10.0
          raytrace_range: 12.0
          max_obstacle_height: 2.5
          inf_is_valid: True

      inflation_layer:
        plugin: "nav2_costmap_2d::InflationLayer"
        cost_scaling_factor: 5.0
        inflation_radius: 0.6

global_costmap:
  global_costmap:
    ros__parameters:
      update_frequency: 5.0
      publish_frequency: 5.0
      global_frame: odom
      robot_base_frame: base_link
      use_sim_time: True
      rolling_window: true
      width: 30
      height: 30
      origin_x: 0.0
      origin_y: 0.0
      footprint: "[ [0.40, 0.28], [0.40, -0.28], [-0.40, -0.28], [-0.40, 0.28]]"
      footprint_padding: 0.01
      footprint_clearing_enabled: True
      resolution: 0.05
      track_unknown_space: true
      plugins: ["obstacle_layer","inflation_layer"]       # static_layer

      # static_layer:
      #   plugin: "nav2_costmap_2d::StaticLayer"
      #   enabled: True
      #   subscribe_to_updates: True
      #   map_subscribe_transient_local: True

      obstacle_layer:
        plugin: "nav2_costmap_2d::ObstacleLayer"
        enabled: True
        observation_sources: scan
        scan:
          topic: /scan
          data_type: "LaserScan"
          marking: True
          clearing: True
          obstacle_range: 10.0
          raytrace_range: 12.0
          max_obstacle_height: 2.5
          inf_is_valid: True
          observation_persistence: 0.2
          expected_update_rate: 0.15
          
      
      inflation_layer:
        plugin: "nav2_costmap_2d::InflationLayer"
        cost_scaling_factor: 7.0
        inflation_radius: 0.7
      always_send_full_costmap: True

map_server:
  ros__parameters:
    use_sim_time: True
    # Overridden in launch by the "map" launch configuration or provided default value.
    # To use in yaml, remove the default "map" value in the tb3_simulation_launch.py file & provide full path to map below.
    yaml_filename: ""

map_saver:
  ros__parameters:
    use_sim_time: True
    save_map_timeout: 5.0
    free_thresh_default: 0.25
    occupied_thresh_default: 0.65
    map_subscribe_transient_local: True

planner_server:
  ros__parameters:
    expected_planner_frequency: 15.0              # Smac2D (Stable even at 2~3HZ) (Low resource & High stability focus)
    use_sim_time: True
    planner_plugins: ["GridBased"]
    GridBased:
      plugin: "nav2_smac_planner/SmacPlanner2D"  
      tolerance: 0.25                            # Goal proximity tolerance
      use_astar: true                            # Use A* search
      allow_unknown: true                        # Allow unknown space (Handles incomplete indoor maps)
      motion_model_for_search: DUBIN             # Forward only mode (For wheelchair stability)
      cost_travel_multiplier: 4.0                # Prefers detours around high-cost regions

smoother_server:
  ros__parameters:
    use_sim_time: True
    smoother_plugins: ["simple_smoother"]
    simple_smoother:
      plugin: "nav2_smoother::SimpleSmoother"
      tolerance: 1.0e-10
      max_its: 1000
      do_refinement: True

behavior_server:
  ros__parameters:
    costmap_topic: local_costmap/costmap_raw
    footprint_topic: local_costmap/published_footprint
    cycle_frequency: 10.0
    behavior_plugins: ["spin", "backup", "drive_on_heading", "assisted_teleop", "wait"]
    spin:
      plugin: "nav2_behaviors/Spin"
    backup:
      plugin: "nav2_behaviors/BackUp"
    drive_on_heading:
      plugin: "nav2_behaviors/DriveOnHeading"
    wait:
      plugin: "nav2_behaviors/Wait"
    assisted_teleop:
      plugin: "nav2_behaviors/AssistedTeleop"
    global_frame: odom
    robot_base_frame: base_link
    transform_tolerance: 0.1
    use_sim_time: true
    simulate_ahead_time: 2.0
    max_rotational_vel: 1.0
    min_rotational_vel: 0.4
    rotational_acc_lim: 3.2
    max_translational_vel: 1.5
    translational_acc_lim: 2.5
    translational_decel_lim: 2.5

robot_state_publisher:
  ros__parameters:
    use_sim_time: True

waypoint_follower:
  ros__parameters:
    use_sim_time: True
    loop_rate: 20
    stop_on_failure: false
    waypoint_task_executor_plugin: "wait_at_waypoint"
    wait_at_waypoint:
      plugin: "nav2_waypoint_follower::WaitAtWaypoint"
      enabled: True
      waypoint_pause_duration: 200

velocity_smoother:
  ros__parameters:
    use_sim_time: True
    smoothing_frequency: 20.0
    scale_velocities: False
    feedback: "OPEN_LOOP"
    max_velocity: [1.5, 0.0, 1.0]
    min_velocity: [-0.6, 0.0, -1.0]
    max_accel: [2.5, 0.0, 3.2]
    max_decel: [-2.5, 0.0, -3.2]
    odom_topic: "/odometry/filtered"
    odom_duration: 0.1
    deadband_velocity: [0.0, 0.0, 0.0]
    velocity_timeout: 0.2



#========================================================
# Collision Monitor
#========================================================
collision_monitor:
  ros__parameters:
    use_sim_time: True
    enabled: True
    base_frame_id: "base_link"
    odom_frame_id: "odom"
    transform_tolerance: 0.5
    source_timeout: 5.0
    stop_pub_timeout: 2.0
    use_stamped_cmd_vel: False
    cmd_vel_in: "/cmd_vel/smooth"
    cmd_vel_out: "/cmd_vel/safe"
    cmd_vel_in_topic: "/cmd_vel_smooth"
    cmd_vel_out_topic: "/cmd_vel_safe"
    polygons: ["PolygonStop", "PolygonSlow"]


    PolygonSlow:
      type: "polygon"
      points: [0.70, 0.45, 0.70, -0.45, 0.0, -0.45, 0.0, 0.45]
      action_type: "slowdown"
      min_points: 4
      slowdown_ratio: 0.25
      visualize: True
      polygon_pub_topic: "polygon_slowdown"

    PolygonStop:
      type: "polygon"
      points: [0.45, 0.32, 0.45, -0.32, 0.0, -0.32, 0.0, 0.32]
      action_type: "stop"
      min_points: 4
      visualize: True
      polygon_pub_topic: "polygon_stop"

    observation_sources: ["scan"]
    scan:
      type: "scan"
      topic: "/scan"




#===================================================================================
# Life Cycle Manager
#===================================================================================
lifecycle_manager_navigation:
  ros__parameters:
    autostart: true
    node_names: ['controller_server', 'smoother_server', 'planner_server', 'behavior_server', 'bt_navigator', 'waypoint_follower', 'velocity_smoother', 'collision_monitor']
    bond_timeout: 4.0
    attempt_respawn_reconnection: true
    bond_respawn_max_duration: 10.0
    introspection_mode: "disabled"
